/* src/App.css */
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 60px;
  min-height: 100vh;
}

.main-heading {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.main-page {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1200px;
  padding: 20px;
}
