.card {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  margin: 16px;
  width: 280px;
  min-height: 200px;
  max-height: 210px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background-color: white;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.55);
}

.card-title {
  font-size: 1.2em;
  font-weight: bold;
  margin: 0 0 8px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.card-old-price {
  text-decoration: line-through;
  color: red;
}

.card-new-price {
  font-size: 1.2rem;
  color: green;
}

.card-discount-phrase {
  font-size: 1rem;
  color: green;
}
