.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  max-height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  padding: 10px;
  color: white;
  z-index: 1000;
  box-sizing: border-box;
}

.navbar-logo a,
.navbar-cart a,
.navbar-favourites a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  white-space: nowrap;
}

.navbar-logo {
  flex-grow: 1;
}

.navbar-icons {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-top: 8px;
}

.navbar-logo a:hover,
.navbar-cart a:hover,
.navbar-favourites a:hover {
  text-decoration: underline;
}
